{# extend the parent tpl #}
{% extends 'layout.twig' %}

{% block pageHeader %}
<section id="consoleSection" class="center white clearfix">
    <header id="small" class="clearfix">
        <h1><a href="/">Dieetopvolging</a></h1>
        <ul id="menu">
            <li><a title="Console" id="dashboard" href="/klant/console" class="{% if dashboardActive is defined %}activeDashboard{% endif %} passiveDashboard">Dashboard</a></li>
            <li><a title="Maaltijden" id="meals" href="/klant/maaltijden" class="{% if foodActive is defined %}activeFood{% endif %} passiveFood">Maaltijden</a></li>            
            <li><a title="Progressie" id="stats" href="/klant/progressie" class="{% if statsActive is defined %}activeStats{% endif %} passiveStats">Progressie</a></li>     
        </ul>
    </header>
    {% endblock %}

    {% block pageContent %}
    <div id="consoleContent" class="clearfix">
        <div id="subheader" class="clearfix">
            <h1>{% block subheader %}{% endblock %}</h1>
            <a id="logout"  class="blue" href="{{ app.request.baseUrl }}/klant/logout">Afmelden</a>
        </div>
        {% if breadcrumb is defined %}
            <div id="breadcrumb">
                {% block breadcrumb %}{% endblock %}
            </div>    
        {% endif %}
        {% block consolePageContent %}

        {% endblock %}
    </div>
</section>
{% endblock %}