{# extend the parent tpl #}
{% extends 'layout.twig' %}

{% block pageHeader %}
<section id="consoleSection" class="center white clearfix">
    <header id="small" class="clearfix">
        <h1><a href="/">Dieetopvolging</a></h1>
        <ul id="menu">
            <li><a title="Console" id="dashboard" href="/dietist/console" class="{% if dashboardActive is defined %}activeDashboard{% endif %} passiveDashboard">Dashboard</a></li>
            <li><a title="Klanten" id="customers" href="/dietist/klanten" class="{% if customersActive is defined %}activeCustomers{% endif %} passiveCustomers">Klanten</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
    </header>
    {% endblock %}

    {% block pageContent %}
    <div id="consoleContent" class="clearfix">
        <div id="subheader" class="clearfix">
            {% block subheader %}{% endblock %}
            <a id="logout" title="Afmelden" class="blue tooltip" href="{{ app.request.baseUrl }}/dietist/logout">Afmelden</a>
        </div>
        {% if breadcrumb is defined %}
            <div id="breadcrumb">
                {% block breadcrumb %}{% endblock %}
            </div>    
        {% endif %}
        {% block consolePageContent %}

        {% endblock %}
    </div>
</section>
{% endblock %}