{# extend the parent tpl #}
{% extends 'consoleDietician.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Dietist | Console' %}
{% set contentId = 'console' %}
{% set javascript = 'dietician' %}

{# set variables in the console tpl #}
{% set dashboardActive = true %}

{% block subheader %}
    <h1>Welkom {{ dietician.name }}</h1>
{% endblock %}


{% block consolePageContent %}

<div id="calender">
    <h4>Agenda</h4>
    <p>Klant xxx heeft een nieuwe afspraak verzoek</p>
    <p>Geen nieuwe afspraak verzoeken</p>
</div>
{% endblock %}