{# extend the parent tpl #}
{% extends 'consoleDietician.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Console' %}
{% set contentId = 'console' %}
{% set javascript = 'dietician' %}

{# set variables in the console tpl #}
{% set dashboardActive = true %}

{% block subheader %}
    <h1>Welkom {{ dietician.name }}</h1>
{% endblock %}


{% block consolePageContent %}
    <div id="customersInput">
        <h4>Nieuwe ingaves van klanten</h4>
    </div>
{% endblock %}