{# extend the parent tpl #}
{% extends 'consoleDietician.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Klanten' %}
{% set contentId = 'console' %}
{% set javascript = 'dieticianCustomers' %}

{# set variables in the console tpl #}
{% set customersActive = true %}

{% block subheader %}
    <h1>Klanten</h1>
    <a class="smallButtonLink" href="{{ app.request.baseUrl }}/dietist/klanten/nieuw">Voeg nieuwe klant toe</a>   
{% endblock %}

{% block consolePageContent %}

<div id="customers">
    <div id="filterCustomers">
        <input type="text" />
    </div>
    <ul id="customersList">
        {% if customers %}
            {% for customer in customers %}
            <li>
                <a href="{{ app.request.baseUrl }}/dietist/klanten/{{ customer.id }}">
                    <span class="customerName">{{ customer.name }}</span>
                </a>
                    
            </li>
            {% endfor %}
        {% else %}
        <p>Geen klanten</p>
        {% endif %}
    </ul>
</div>

{% endblock %}