{# extend the parent tpl #}
{% extends 'consoleDietician.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Dietist | Klant' %}
{% set contentId = 'console' %}
{# set javascript = 'dieticianViewCustomer' #}
{% set jsPlugin = 'jquery.numeric' %}

{# set variables in the console tpl #}
{% set customersActive = true %}

{% block subheader %}
    {{ customer.name }}
{% endblock %}

{% set breadcrumb = true %}    
{% block breadcrumb %}
    <a title="Klanten" href="{{ app.request.baseUrl }}/dietist/klanten">Klanten</a> <span class="current">{{ customer.name }}</span>
{% endblock %}

{% block consolePageContent %}


{% endblock %}