{# extend the parent tpl #}
{% extends 'consoleCustomer.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Klant | Console' %}
{% set contentId = 'console' %}
{% set javascript = 'customer' %}

{# set variables in the console tpl #}
{% set dashboardActive = true %}

{% block subheader %}
    <h1>Welkom {{ customer.name }}</h1>
    <p>Wat heb je vandaag gegeten? gesport?</p>
{% endblock %}


{% block consolePageContent %}

<div id="calender">
    <h4>Agenda</h4>
    <p>Dietist xxx heeft een nieuwe afspraak verzoek</p>
    <p>Geen nieuwe afspraak verzoeken</p>
</div>
{% endblock %}