{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Klant | Login' %}
{% set contentId = 'customerLogin' %}

{% block pageHeader %}
<header id="large">
    <section class="center">
        <h1><a href="/">Dieetopvolging</a></h1>
    </section>
</header>
{% endblock %}

{% block pageContent %}
<section class="center clearfix">
        <form id="login" class="blue clearfix" action="#" method="post">
            <h2>Aanmelden als klant</h2>
            
            {{ form_widget(form) }}

            <input type="submit" name="submit" value="Aanmelden"/>
        </form>
</section>
{% endblock %}