{# extend the parent tpl #}
{% extends 'consoleCustomer.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Klant | Maaltijden' %}
{% set contentId = 'console' %}
{% set javascript = 'customerMeals' %}

{# set variables in the console tpl #}
{% set foodActive = true %}

{% block subheader %}
    <h1>Maaltijden</h1>
{% endblock %}


{% block consolePageContent %}

{% endblock %}